body {

}

#banner-text{
	font-size: 80px;
	color: white;
	text-shadow: 0 0 20px black;
	margin: 60px 0;
	text-align: center;
}

#banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 380px;
	opacity: 0.8;
	object-fit: cover;
	object-position: 0 -400px;
	z-index: -1;
}

.attribute-title {
	text-shadow: 0 0 10px black;
	text-align: center;
}

.attribute {
	background-image: linear-gradient(to bottom right, #827a71, #6d6d6d);
	color: white;
	margin: 20px;
	padding: 20px;
	border-radius: 5%;
	box-shadow: 0px 0px 20px gray;
}

.attribute-info {
	background-color: white;
	color: black;
	margin: 5px;
	padding: 5px;
	border-radius: 5%;
	box-shadow: 0px 0px 10px black;
}

.credits {
	text-align: right;
	text-shadow: 0 0 3px black;
	font-size: 10px;
}

.link {
	color: white!important;
	text-decoration: underline;
}