#us-map{
	display: block;
	position: absolute;
	top: 150px;
	left: 0;
	width: 100%;
	height: 100%;
}

path:hover, circle:hover {
	stroke: white !important;
	stroke-width:0px;
	/*stroke-linejoin: round;*/
	/*fill: purple !important;*/
	cursor: pointer;
	opacity: 1.0;
}

path, .blue-state, .red-state {
	stroke: white !important;
	stroke-width: 2px;
	stroke-linejoin: round;
}

.red-state {
	fill: red !important;
	opacity: 0.5;
}

.blue-state {
	fill: blue !important;
	opacity: 0.5;
}

#path67 {
	fill: none !important;
	stroke: #A9A9A9 !important;
	cursor: default;
}

#info-box {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-color: #ffffff;
	border: 2px solid #BF0A30;
	border-radius: 5px;
	padding: 5px;
	font-family: arial;
}
