body{

}

.nav-link{
	color: blue;
}

hr {
	margin: 50px 0;
}

.title-text{
	font-size: 50px;
	color: blue;
	margin-top: 80px;
	text-align: center;
}

.banner-text{
	color: #ad0c1e;
	font-weight: bolder;
}

#overview {
	font-size: 24px;
	color: whitesmoke;
	margin: 0px 5% 0 5%;
	text-align: center;
	font-style: oblique;
}

.no-padding{
    padding-right:0;
    padding-left:0;
}


#card {
	border-radius: 2%;
	/*background-image: -webkit-linear-gradient(right, white, gray);*/
	/*background-image: -o-linear-gradient(right, white, gray);*/
	/*background-image: linear-gradient(to left, white, gray);*/
	padding: 30px;
	/*border-radius: 5px;*/
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 5px 0 lightgray inset, 0px 0px 5px 0px gray;
	/*box-shadow: -15px 0 15px -10px gray inset, 15px 0 15px -10px gray inset;*/
	text-align: center;
}

#selfie {
	display: inline;
	width: 200px;
	height: auto;
	border: 0px solid blue;
	object-fit: contain;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
	box-shadow: 0 5px 20px gray;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#details {
	/*background: beige;*/
	text-align: center;
	align-items: center;
	justify-content: center;
}

#links {
	font-size: 30px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#banner {
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: auto;
}

#issues-list {
	margin-top: 200px;
}
